body
  margin 0
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif

c-blue = #17a2b8
c-lightblue = #e1effe
c-darkblue = #138496
c-green = #28a745
c-red = #dc3545
c-black = #000

.box
  width 40px
  height 40px
  border 1px solid transparent
  border-radius .25rem
  margin .3rem
  font-weight bold
  font-size 11pt
  color c-black
  background-color c-blue
  &:hover
    background-color c-darkblue
  &:disabled
    background-color c-lightblue
  &.red
    background-color c-red
  &.green
    background-color c-green
  &.black
    background-color c-black

.board
  display flex
  flex-direction column
  > .row
    display flex
    flex-wrap nowrap