body
  margin 0
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
  

c-blue = #17a2b8
c-lightblue = #e1effe
c-darkblue = #138496
c-green = #28a745
c-red = #dc3545
c-black = black
c-white = white
c-orange = orange

.box
  width 40px
  height 40px
  border 1px solid transparent
  border-radius .25rem
  margin .3rem
  font-weight bold
  font-size 11pt
  color c-black
  background-color c-blue
  &:hover
    background-color c-darkblue
  &.lightblue
    background-color c-lightblue
  &.red
    background-color c-red
  &.green
    background-color c-green
  &.black
    background-color c-black
  &.orange
    background-color c-orange

.board
  display flex
  flex-direction column
  > .row
    display flex
    flex-wrap nowrap

.boards
  display flex
  flex-wrap wrap
  justify-content center
  flex-direction row

.label
  display flex
  justify-content center
  flex-direction row
  border-radius .25rem
  margin .3rem
  font-weight bold
  font-size 11pt
  > span
    padding .5rem
    width: 100px
    background-color c-lightblue
    text-align center
    border-radius 0 .25rem .25rem 0
    &.active
      background-color c-orange
  > span:first-child
    border-radius .25rem 0 0 .25rem 
  > input
    border 1px solid transparent
    background-color c-blue
    color c-white
    font-weight bold
    font-size 11pt
    &:hover
      background-color c-darkblue
